<a href="https://colab.research.google.com/github/nanmanchu/APTprice/blob/main/3_Data_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sns

import requests
import json 
from bs4 import BeautifulSoup
from pandas.io.json import json_normalize

In [ ]:
#공시지가
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/kukto/gongsi_API2.csv')

In [ ]:
df

                           지번코드층연도                 고유번호  ...  층명       공시가격
0         111101180010072000092019  1111011800100720000  ...   9  992000000
1         111101180010072000092019  1111011800100720000  ...   9  992000000
2         111101180010072000092019  1111011800100720000  ...   9  992000000
3         111101180010072000092019  1111011800100720000  ...   9  992000000
4         111101180010072000092019  1111011800100720000  ...   9  992000000
...                            ...                  ...  ...  ..        ...
35258842  117401090010450003542013  1174010900104500035  ...   4  139000000
35258843  117401090010450003542013  1174010900104500035  ...   4  144000000
35258844  117401090010457003242013  1174010900104570032  ...   4  128000000
35258845  117401090010457003242013  1174010900104570032  ...   4  128000000
35258846  117401090010457005942013  1174010900104570059  ...   4  141000000

[35258847 rows x 7 columns]

In [ ]:
df2=df.copy()

In [ ]:
#df['공시가격']=df.groupby(['지번코드층연도'], as_index=False).mean()

#grouped = df2.groupby('지번코드층연도')
# df['공시가격층평균']=grouped.mean()
#df['공시가격층평균']=df.groupby('지번코드층연도').agg['공시가격'].mean()


df3=df2.groupby('지번코드층연도')['공시가격'].agg(**{'공시가격층평균':'mean'}).reset_index()

In [ ]:
df3

                           지번코드층연도       공시가격층평균
0        1111010100100010000-12016  6.490000e+08
1        1111010100100010000-12017  6.820000e+08
2        1111010100100010000-12018  7.330000e+08
3        1111010100100010000-12019  8.080000e+08
4        1111010100100010000-12020  8.190000e+08
...                            ...           ...
6523451   117401100010732000052017  8.768421e+07
6523452   117401100010732000052018  9.036842e+07
6523453   117401100010732000052019  9.663158e+07
6523454   117401100010732000052020  9.902632e+07
6523455   117401100010732000052021  1.060526e+08

[6523456 rows x 2 columns]

In [ ]:
output_file = r'/content/drive/MyDrive/Colab Notebooks/apt/kukto/gongsi_API2_avg.csv' # 병합하고 저장하려는 파일명
df3.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인덱스를 빼려면 False로 설정

# 파일 불러오기 & 병합

In [ ]:
#실거래가
price=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/old/apt_price_API_20062021_0118.csv', encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
price

                m2당가격                    지번코드층연도  ...       물건금액   층
0        6.210698e+06   115001030010070000172016  ...  800000000   7
1        6.919393e+06   115001050050013000072016  ...  588010000   7
2        7.259086e+06   115001050050013000072016  ...  435400000   7
3        6.742676e+06   115001050050013000072016  ...  573060000   7
4        7.493831e+06   115001050050013000072016  ...  449480000   7
...               ...                        ...  ...        ...  ..
1259454  4.653080e+06  1123011000100450000192015  ...  395000000  19
1259455  5.369351e+06  1123010900100570000192015  ...  322000000  19
1259456  4.753565e+06  1123010900100570000192015  ...  190000000  19
1259457  4.579792e+06  1123010500100100000192015  ...  388000000  19
1259458  4.700200e+06  1123011000100450000192015  ...  399000000  19

[1259459 rows x 15 columns]

In [ ]:
#건축물 에너지 효율 등급
beec=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/old/beec_API_1228.csv', encoding='utf-8')

In [ ]:
beec

                         대지위치  시군구코드  ...      생성일자               지번코드2
0        서울특별시 강남구 개포동 1280번지  11680  ...  20210312  116801030012800000
1       서울특별시 영등포구 당산동5가 42번지  11560  ...  20210319  115601150000420000
2       서울특별시 성북구 돈암동 609-1번지  11290  ...  20210818  112901030006090001
3         서울특별시 서초구 우면동 788번지  11650  ...  20200623  116501030007880000
4         서울특별시 강남구 자곡동 602번지  11680  ...  20171206  116801120006020000
...                       ...    ...  ...       ...                 ...
5133    서울특별시 마포구 도화동 240-1번지  11440  ...  20171205  114401040002400001
5134  서울특별시 서대문구 남가좌동 377-1번지  11410  ...  20191227  114101200003770001
5135    서울특별시 동대문구 이문동 54-1번지  11230  ...  20171118  112301100000540001
5136     서울특별시 구로구 구로동 1266번지  11530  ...  20171118  115301020012660000
5137    서울특별시 강남구 청담동 113-6번지  11680  ...  20171118  116801040001130006

[5138 rows x 20 columns]

In [ ]:
#실거래가 beec 병합
price_beec=pd.merge(price, beec, left_on='지번코드2', right_on='지번코드2', how='left')

In [ ]:
price_beec

                m2당가격                    지번코드층연도  ... 지능형건축물인증점수        생성일자
0        6.210698e+06   115001030010070000172016  ...        NaN         NaN
1        6.919393e+06   115001050050013000072016  ...        NaN         NaN
2        7.259086e+06   115001050050013000072016  ...        NaN         NaN
3        6.742676e+06   115001050050013000072016  ...        NaN         NaN
4        7.493831e+06   115001050050013000072016  ...        NaN         NaN
...               ...                        ...  ...        ...         ...
2110075  4.753565e+06  1123010900100570000192015  ...        0.0  20210322.0
2110076  4.579792e+06  1123010500100100000192015  ...        0.0  20140723.0
2110077  4.579792e+06  1123010500100100000192015  ...        0.0  20140723.0
2110078  4.700200e+06  1123011000100450000192015  ...        0.0  20200804.0
2110079  4.700200e+06  1123011000100450000192015  ...        0.0  20200804.0

[2110080 rows x 34 columns]

In [ ]:
price_beec = price_beec.drop_duplicates('실거래가아이디', keep='last')

In [ ]:
price_beec

                m2당가격                    지번코드층연도  ... 지능형건축물인증점수        생성일자
0        6.210698e+06   115001030010070000172016  ...        NaN         NaN
1        6.919393e+06   115001050050013000072016  ...        NaN         NaN
2        7.259086e+06   115001050050013000072016  ...        NaN         NaN
3        6.742676e+06   115001050050013000072016  ...        NaN         NaN
4        7.493831e+06   115001050050013000072016  ...        NaN         NaN
...               ...                        ...  ...        ...         ...
2110071  4.653080e+06  1123011000100450000192015  ...        0.0  20200804.0
2110073  5.369351e+06  1123010900100570000192015  ...        0.0  20210322.0
2110075  4.753565e+06  1123010900100570000192015  ...        0.0  20210322.0
2110077  4.579792e+06  1123010500100100000192015  ...        0.0  20140723.0
2110079  4.700200e+06  1123011000100450000192015  ...        0.0  20200804.0

[1259459 rows x 34 columns]

In [ ]:
price_beec.columns

Index(['m2당가격', '지번코드층연도', '건물명_x', '건물주용도', '건축년도', '계약일자', '시군구', '신고년도',
       '실거래가아이디', '자치구명', '지번코드', '지번코드2', '건물면적', '물건금액', '층', '대지위치',
       '시군구코드', '법정동코드', '필지구분', '번', '지', '용적률', '건폐율', '에너지효율등급', '에너지절감률',
       '친환경건축물등급', '친환경건축물인증점수', '건물명_y', '총주차수', '세대수', 'EPI점수', '지능형건축물등급',
       '지능형건축물인증점수', '생성일자'],
      dtype='object')

In [ ]:
price_beec = price_beec[['지번코드층연도','실거래가아이디', '신고년도', '계약일자', '자치구명', '지번코드', '건물명_x', '건물명_y', '대지위치','물건금액', '건물면적','시군구코드', '용적률', '건폐율', '총주차수', '에너지효율등급', '에너지절감률', '친환경건축물등급', '친환경건축물인증점수', 'EPI점수','지능형건축물등급', '지능형건축물인증점수', '건축년도', '층', '건물주용도' , '세대수', '생성일자']]

In [ ]:
#공시
gongsi=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/kukto/gongsi_API2_avg.csv', encoding='utf-8')

In [ ]:
#실거래가 공시 병합
price_beec_gongsi=pd.merge(price_beec, gongsi, left_on='지번코드층연도', right_on='지번코드층연도', how='left')

In [ ]:
price_beec_gongsi

                           지번코드층연도  ...       공시가격층평균
0         115001030010070000172016  ...           NaN
1         115001050050013000072016  ...           NaN
2         115001050050013000072016  ...           NaN
3         115001050050013000072016  ...           NaN
4         115001050050013000072016  ...           NaN
...                            ...  ...           ...
2110075  1123010900100570000192015  ...  2.248871e+08
2110076  1123010500100100000192015  ...  2.528800e+08
2110077  1123010500100100000192015  ...  2.528800e+08
2110078  1123011000100450000192015  ...  2.866000e+08
2110079  1123011000100450000192015  ...  2.866000e+08

[2110080 rows x 28 columns]

In [ ]:
price_beec_gongsi = price_beec_gongsi.drop_duplicates('실거래가아이디', keep='last')

In [ ]:
price_beec_gongsi = price_beec_gongsi[[ '실거래가아이디','지번코드','신고년도', '계약일자', '자치구명', '건물명_x', '건물명_y', '대지위치','물건금액','건물면적','공시가격층평균','용적률', '건폐율', '총주차수', '에너지효율등급', '에너지절감률', '친환경건축물등급', '친환경건축물인증점수', 'EPI점수','지능형건축물등급', '지능형건축물인증점수', '건축년도', '층', '건물주용도' , '세대수']]

In [ ]:
df=price_beec_gongsi.copy()

In [ ]:
df['m2당가격']=round(df['물건금액']/df['건물면적'],3)

In [ ]:
df['주차스트레스']=round(df['총주차수']/df['세대수'],3)

In [ ]:
df.주차스트레스

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
2110071    1.236
2110073    1.231
2110075    1.231
2110077    1.093
2110079    1.236
Name: 주차스트레스, Length: 1259459, dtype: float64

In [ ]:
df = df[[ '지번코드','신고년도', '계약일자', '자치구명', '건물명_x', '대지위치','물건금액','m2당가격', '공시가격층평균','건물면적','용적률', '건폐율', '총주차수','주차스트레스', '에너지효율등급', '에너지절감률', '친환경건축물등급', '친환경건축물인증점수', 'EPI점수', '건축년도', '층', '세대수']]

In [ ]:
df

                        지번코드  신고년도        계약일자  자치구명  ... EPI점수    건축년도   층     세대수
0        1150010300100700001  2016  2016-03-14   강서구  ...   NaN     0.0   7     NaN
1        1150010500500130000  2016  2016-03-14   강서구  ...   NaN     0.0   7     NaN
2        1150010500500130000  2016  2016-03-15   강서구  ...   NaN     0.0   7     NaN
3        1150010500500130000  2016  2016-03-15   강서구  ...   NaN     0.0   7     NaN
4        1150010500500130000  2016  2016-03-28   강서구  ...   NaN     0.0   7     NaN
...                      ...   ...         ...   ...  ...   ...     ...  ..     ...
2110071  1123011000100450000  2015  2015-05-20  동대문구  ...   0.0  2001.0  19   499.0
2110073  1123010900100570000  2015  2015-08-12  동대문구  ...   0.0  2001.0  19  2042.0
2110075  1123010900100570000  2015  2015-08-14  동대문구  ...   0.0  2001.0  19  2042.0
2110077  1123010500100100000  2015  2015-08-15  동대문구  ...   0.0  2001.0  19   767.0
2110079  1123011000100450000  2015  2015-09-19  동대문구  ...   0.0  2001.0  19   499.0

[1259459 rows x 22 columns]

In [ ]:
df.isnull().sum()

지번코드               0
신고년도               0
계약일자               0
자치구명               0
건물명_x              0
대지위치          424775
물건금액               0
m2당가격              0
공시가격층평균        72490
건물면적               0
용적률           424775
건폐율           424775
총주차수          424775
주차스트레스        434148
에너지효율등급       424775
에너지절감률        424775
친환경건축물등급      424775
친환경건축물인증점수    424775
EPI점수         424775
건축년도               1
층                  0
세대수           424775
dtype: int64

In [ ]:
output_file = r'/content/drive/MyDrive/Colab Notebooks/apt/dataC_ver.2.csv' # 병합하고 저장하려는 파일명
df.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인덱스를 빼려면 False로 설정

In [ ]:
df.describe()

               신고년도          물건금액  ...             층            세대수
count  1.259459e+06  1.259459e+06  ...  1.259459e+06  834684.000000
mean   2.013705e+03  5.504102e+08  ...  8.907157e+00    1207.444802
std    4.529740e+00  4.306140e+08  ...  6.035641e+00    1195.248562
min    2.006000e+03  3.500000e+06  ... -4.000000e+00       0.000000
25%    2.010000e+03  2.920000e+08  ...  4.000000e+00     408.000000
50%    2.015000e+03  4.300000e+08  ...  8.000000e+00     814.000000
75%    2.017000e+03  6.650000e+08  ...  1.300000e+01    1606.000000
max    2.021000e+03  1.200000e+10  ...  9.000000e+01    9510.000000

[8 rows x 15 columns]

# 합치기

In [ ]:
#실거래가
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/dataC_ver.1.csv', encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,5,14,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df2=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apt/dataC_ver.2.csv', encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df

                        지번코드  신고년도        계약일자 자치구명  ... EPI점수    건축년도   층     세대수
0        1120011400107060000  2017  2017-11-13  성동구  ...   0.0  1997.0   7   840.0
1        1120011400107060000  2017  2017-07-23  성동구  ...   0.0  1997.0   8   840.0
2        1120011300104360000  2017  2017-07-26  성동구  ...   0.0  1997.0   9   583.0
3        1120011400107050000  2017  2017-12-13  성동구  ...   0.0  1997.0   9    92.0
4        1120011400107060000  2017  2017-07-29  성동구  ...   0.0  1997.0  10   840.0
...                      ...   ...         ...  ...  ...   ...     ...  ..     ...
1259454  1126010200100810005  2020  2020-08-22  중랑구  ...   0.0  2003.0   9   506.0
1259455  1126010500105770000  2020  2020-08-20  중랑구  ...   0.0  2004.0   6   191.0
1259456  1126010100115370000  2020  2020-08-23  중랑구  ...  75.0  2015.0   6   265.0
1259457  1168010300106600001  2021  2020-08-22  강남구  ...   NaN     0.0   1     NaN
1259458  1129013300102390000  2021  2017-02-16  성북구  ...   0.0  2005.0  14  1971.0

[1259459 rows x 22 columns]

In [ ]:
df2

                        지번코드  신고년도        계약일자  자치구명  ... EPI점수    건축년도   층     세대수
0        1150010300100700001  2016  2016-03-14   강서구  ...   NaN     0.0   7     NaN
1        1150010500500130000  2016  2016-03-14   강서구  ...   NaN     0.0   7     NaN
2        1150010500500130000  2016  2016-03-15   강서구  ...   NaN     0.0   7     NaN
3        1150010500500130000  2016  2016-03-15   강서구  ...   NaN     0.0   7     NaN
4        1150010500500130000  2016  2016-03-28   강서구  ...   NaN     0.0   7     NaN
...                      ...   ...         ...   ...  ...   ...     ...  ..     ...
1259454  1123011000100450000  2015  2015-05-20  동대문구  ...   0.0  2001.0  19   499.0
1259455  1123010900100570000  2015  2015-08-12  동대문구  ...   0.0  2001.0  19  2042.0
1259456  1123010900100570000  2015  2015-08-14  동대문구  ...   0.0  2001.0  19  2042.0
1259457  1123010500100100000  2015  2015-08-15  동대문구  ...   0.0  2001.0  19   767.0
1259458  1123011000100450000  2015  2015-09-19  동대문구  ...   0.0  2001.0  19   499.0

[1259459 rows x 22 columns]

In [ ]:
df3=pd.merge(df, df2, left_on='지번코드', right_on='지번코드', how='left')

In [ ]:
df3